.chat-toggle {
  position: fixed;

  bottom: 30px;
  right: 30px;

  width: 65px;
  height: 65px;

  border: none;

  border-radius: 50%;

  font-size: 1.6rem;

  cursor: pointer;

  background: var(--accent);

  color: white;

  z-index: 9999;

  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);

  transition: 0.3s ease;
}

.chat-toggle:hover {
  transform: scale(1.1);
}

.chat-popup {
  position: fixed;

  bottom: 110px;
  right: 30px;

  width: 350px;

  background: #111;

  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: 20px;

  padding: 20px;

  z-index: 9999;
}

.chat-popup h3 {
  color: white;

  margin-bottom: 20px;
}

.chat-answer {
  color: #ddd;

  line-height: 1.7;

  min-height: 120px;

  margin-bottom: 20px;
}

.chat-questions {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.chat-questions button {
  background: transparent;

  border: 1px solid rgba(255, 255, 255, 0.1);

  color: white;

  padding: 12px;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.3s ease;
}

.chat-questions button:hover {
  border-color: var(--accent);

  color: var(--accent);
}
.typing-cursor {
  animation: blink 1s infinite;

  color: var(--accent);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
