.hero {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;
  gap: 4rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 500px;
  height: 650px;

  border-radius: 12px;

  background: linear-gradient(to bottom, #1a1a1a, #050505);
}

.hero-content {
  flex: 1;
}

.hero-subtitle {
  color: var(--text-secondary);

  letter-spacing: 5px;

  margin-bottom: 20px;
}
.hero-description {
  margin-top: 40px;

  color: var(--text-secondary);

  line-height: 1.6;

  font-size: 1.5rem;

  max-width: 600px;
}

.hero-btn {
  margin-top: 40px;

  padding: 14px 30px;

  border: none;

  background: var(--accent);

  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.hero-btn:hover {
  background: #ff2b2b;
}
.hero-title {
  font-size: 7rem;
  font-weight: 700;
  line-height: 0.95;
  font-family: "Oswald", sans-serif;
}

.accent {
  color: var(--accent);
}

.title-gap {
  height: 25px;
}

.hero {
  position: relative;
}

.hero::before {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  right: 10%;
  top: 10%;

  background: rgba(209, 0, 0, 0.08);

  filter: blur(140px);

  z-index: -1;
}


.accent {
  color: red !important;
}
<motion.div
  className="accent"
  initial={{ opacity: 0, y: 100 }}
  animate={{ opacity: 1, y: 0 }}
  transition={{
    delay: 5,
    duration: 2,
  }}
>
  STORIES
</motion.div>
.typing-title {
  font-size: 8rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;

  color: #d10000;

  min-height: 120px;
  line-height: 0.9;
}

.static-title {
  background: linear-gradient(
    180deg,
    #ffffff,
    #f2f2f2,
    #7a7a7a
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.typing-title {
  font-size: 8rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;

  color: var(--text-primary);

  min-height: 120px;
}

.stories-red {
  color: var(--accent);
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}