
.hero {
  min-height: 100vh;
  padding-top: 180px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px 40px;
  gap: 4rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 500px;
  height: 650px;

  border-radius: 12px;

  background: linear-gradient(to bottom, #1a1a1a, #050505);
}

.hero-content {
  flex: 1;
}

.hero-subtitle {
  color: var(--text-secondary);

  letter-spacing: 5px;

  margin-bottom: 20px;
}
.hero-description {
  margin-top: 40px;

  color: var(--text-secondary);

  line-height: 1.6;

  font-size: 1.5rem;

  max-width: 650px;
}

.hero-description span {
  color: var(--text-primary);
  font-weight: 600;
}

.hero-btn {
  margin-top: 50px;

  background: transparent;
  border: none;

  color: var(--text-primary);

  font-size: 1.2rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;

  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: #ff2b2b;
}
.hero-title {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.accent {
  color: var(--accent);
}

.title-gap {
  height: 25px;
}

.hero {
  position: relative;
}

.hero::before {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  right: 10%;
  top: 10%;

  background: rgba(209, 0, 0, 0.08);

  filter: blur(140px);

  z-index: -1;
}


.accent {
  color: red !important;
}
<motion.div
  className="accent"
  initial={{ opacity: 0, y: 100 }}
  animate={{ opacity: 1, y: 0 }}
  transition={{
    delay: 5,
    duration: 2,
  }}
>
  STORIES
</motion.div>
.typing-title {
  font-size: 8rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;

  color: #d10000;

  min-height: 120px;
  line-height: 0.9;
}

.static-title {
  background: linear-gradient(
    180deg,
    #ffffff,
    #f2f2f2,
    #7a7a7a
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.typing-title {
  font-size: 8rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;

  color: var(--text-primary);

  min-height: 120px;
}

.stories-red {
  color: var(--accent);
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.spotlight {
  position: absolute;
  inset: 0;

  pointer-events: none;

  background: radial-gradient(
    400px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.06),
    transparent 70%
  );

  z-index: 1;

  transition: background 0.1s linear;
}
.hero {
  position: relative;
  overflow: hidden;
}

.hero-content,
.hero-image {
  position: relative;
  z-index: 2;
}
.hero::before {
  content: "";

  position: absolute;

  width: 700px;
  height: 700px;

  right: -100px;
  top: -100px;

  background: radial-gradient(
    circle,
    rgba(209, 0, 0, 0.12),
    transparent 70%
  );

  filter: blur(120px);

  z-index: 0;
}
.hero-arrow {
  color: var(--accent);

  font-size: 1.5rem;

  transition: transform 0.3s ease;
}

